.sgn-highlight {
	font-weight: bold;
}

// increase the font size on small displays (phones)
@media (max-width: 767px) {
	body {
		font-size: 2em;
	}
}

// Show all information if there's room
@media (min-width: 768px) {
	.sgn-collapsable {
		display: block;
	}

	.sgn-word {
		pointer-events: none;
		cursor: default;
	}
}
