$linkColour: #18bc9c;

.sgn-highlight {
	font-weight: bold;
}

.sgn-video, .sgn-common {
	float: right;
	font-size: 2em;
	margin-left: 10px;
	position: relative;
	top: -0.2em;
	color: $linkColour;

	&:hover {
		text-shadow: 0 0 2px #696969; 
		color: lighten($linkColour, 10%);
	}
}

/* increase the font size on small displays (phones) */
@media (max-width: 767px) {
	body {
		font-size: 2em;
	}
}

/* Show all information if there's room */
@media (min-width: 768px) {
	.sgn-collapsable {
		display: block;
	}

	.sgn-word {
		pointer-events: none;
		cursor: default;
	}
}

video {
	display: none;
}